doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/heroic-features.css")
    script(src="/stylesheets/bootstrap.bundle.min.js")
    script(src="/stylesheets/jquery.min.js")

  body
    block content
