section.main-body {
  display: flex;
}

article.main-left {
  width: 70%;
  margin: 10px;
  border: 2px solid green;
}

article.main-right {
  width: 30%;
  margin: 10px;
  border: 2px solid green;
}
